In [1]:
import pandas as pd
import numpy as np
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from nltk.sentiment.util import *
from sklearn.utils import shuffle
from textblob import TextBlob
import matplotlib.pyplot as plt
from wordcloud import WordCloud, ImageColorGenerator
import seaborn as sns
from nltk.util import ngrams
import re, string, unicodedata

plt.style.use('ggplot')

In [2]:
sentiment = SentimentIntensityAnalyzer()

In [3]:
data = pd.read_csv('D:\Shree\Sentiment\product.csv', sep = ',', quotechar = '"', encoding = 'utf8',dtype={'Reviews':str,'BrandName':str},
    usecols=['Reviews','BrandName'],nrows=20000,na_values=[' ','.', '??']       # Take any '.' or '??' values as NA
)
data.columns = [col.replace(' ', '_').lower() for col in data.columns]
data.head(100)

   brandname                                            reviews
0    Samsung  I feel so LUCKY to have found this used (phone...
1    Samsung  nice phone, nice up grade from my pantach revu...
2    Samsung                                       Very pleased
3    Samsung  It works good but it goes slow sometimes but i...
4    Samsung  Great phone to replace my lost phone. The only...
..       ...                                                ...
95     Nokia                                          very well
96     Nokia                      Cannot connect to GSM network
97     Nokia  This cell phone exceeded my expectations, it's...
98     Nokia  pros.. it works fine, its easy to use, not too...
99     Nokia  I went through lots of reviews for different p...

[100 rows x 2 columns]

In [11]:
brandname=[]

In [12]:
processing_data1=[]
for d in data['reviews']:
    processing_data1.append(TextBlob(str(d).replace('[^\w\s]','').replace(",", "").replace(".", "").replace("!", "").replace("?", "")      .replace(";", "").replace(":", "")
                                .replace("*", "").replace("(", "").replace(")", "").replace("/", "").lower()).split(" "))

In [13]:
stop_words1=set(stopwords.words('english'))
stop_words1.add('I')
stop_words1.add('(')
stop_words1.add(')')
stop_words1.add(',')
rem=["won't","aren't","don't",'hadn''mightn','didn',"hadn't",'shouldn','no',"couldn't","doesn't",'nor', 'hasn',"shouldn't",'mustn','wasn','than',
     "shan't",'don','aren',"wasn't",'not','against', 'haven',"needn't","isn't",'weren',"wouldn't","weren't","you're", "mightn't","didn't","haven't","hasn't","mustn't"]

stop_words=[]
for w in stop_words1:
    if w not in rem:
        stop_words.append(w)

lemmatizer = WordNetLemmatizer()
processing_data2=[]
for a in processing_data1:
  temp=[]
  for b in a:
      if b not in stop_words:
       temp.append(lemmatizer.lemmatize(b,pos='a'))
  processing_data2.append(temp)

In [14]:
processing_data_response=[]
processing_data3=[]
all_words=[]
aaaa=0
for d in processing_data2:
    sum=0
    for a in d:
        ppp=float(TextBlob(a).sentiment[0])
        sum += ppp

    processing_data_response.append(sum)
    processing_data3.append([d, processing_data_response[aaaa]])
    aaaa+=1

In [8]:
kd=pd.DataFrame({'Reviews':data['reviews'],'Brand Name':data['brandname'],'Sentiment_score':processing_data_response})
kd.to_csv('D:\Shree\Sentiment\Sentiment_score.csv', sep=',', encoding='utf-8', index=False, header=True,columns=['ID','BrandName','Reviews','Sentiment_score'])
print(kd.head(20))

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1418: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

                                              Reviews Brand Name  \
0   I feel so LUCKY to have found this used (phone...    Samsung
1   nice phone, nice up grade from my pantach revu...    Samsung
2                                        Very pleased    Samsung
3   It works good but it goes slow sometimes but i...    Samsung
4   Great phone to replace my lost phone. The only...    Samsung
5   I already had a phone with problems... I know ...    Samsung
6   The charging port was loose. I got that solder...    Samsung
7   Phone looks good but wouldn't stay charged, ha...    Samsung
8   I originally was using the Samsung S2 Galaxy f...    Samsung
9   It's battery life is great. It's very responsi...    Samsung
10  My fiance had this phone previously, but cause...    Samsung
11  This is a great product it came after two days...    Samsung
12  These guys are the best! I had a little situat...    Samsung
13  I'm really disappointed about my phone and ser...    Samsung
14  Ordered this phone as a replacement for the sa...    Samsung
15  Had this phone before and loved it but was not...    Samsung
16  I was able to get the phone I previously owned...    Samsung
17  I brought this phone as a replacement for my d...    Samsung
18  I love the phone. It does everything I need an...    Samsung
19  unfortunately Sprint could not activate the ph...    Samsung

    Sentiment_score
0          1.101667
1          3.933333
2          0.500000
3          1.600000
4          0.800000
5         -0.600000
6         -0.240559
7          0.836364
8          3.888149
9          1.133333
10         1.133333
11         0.912500
12         1.745833
13        -0.050000
14         1.732727
15         1.416667
16         2.500000
17         1.508333
18         1.300000
19         0.208333

In [9]:
np.random.shuffle(processing_data3)
training_data=processing_data3[:15000]
testing_data=processing_data3[15000:]
classes=[1,0]
print("size of the training data set is: ",len(training_data))
print("size of the testing data set is: ",len(testing_data))
positive_words={}
negative_words={}

size of the training data set is:  15000
size of the testing data set is:  5000

In [21]:
data1 = pd.read_csv("D:\Shree\Sentiment\Sentiment_score.csv", index_col = [2,3])
kd.to_csv('D:\Shree\Sentiment\Sentiment_mean.csv')
kd.groupby('Brand Name').agg({'Sentiment_score': ['sum','count','mean']})

                        Sentiment_score
                                    sum  count      mean
Brand Name
AKUA                          10.566667      4  2.641667
Acer                          16.553929     22  0.752451
Aeku                           1.810000      1  1.810000
Alcatel                     3284.584598   1396  2.352854
Amazon                        14.804848     10  1.480485
Android                        0.000000      1  0.000000
Apple                       8499.123257  11137  0.763143
Apple Computer                 2.013030      6  0.335505
Cedar Tree Technologies       -0.050000      4 -0.012500
Digital SNITCH                -0.350000      5 -0.070000
Elephone                      10.962381     11  0.996580
HTM                           26.207359     24  1.091973
Huawei                         4.836364      9  0.537374
Indigi                         0.600000      4  0.150000
JUNING                       611.076042    214  2.855496
Jethro                       100.562587    117  0.859509
Jiuhe                          7.151948     26  0.275075
LG                             0.800000      2  0.400000
Lenovo                         2.400000      4  0.600000
NOKIA                          8.926894      3  2.975631
Nokia                         86.051429     73  1.178787
Odysseus                       0.797619      2  0.398810
OtterBox                      23.582197     30  0.786073
Phone Baby                     4.637500      3  1.545833
Plum                          -2.266667     10 -0.226667
Samsung                       46.070728     37  1.245155
TCL Mobile                     1.200000      4  0.300000
Ulefone                       45.795198     83  0.551749
VKworld                       11.400000     36  0.316667
Yezz                           3.666667      6  0.611111
Yezz Wireless Ltd.            -0.600000      2 -0.300000
amar                           3.155411     17  0.185612
e passion                     10.337500     25  0.413500
inDigi                         2.648214      3  0.882738
star                          39.750152     29  1.370695